name: Main

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: '0'

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore packages
        run: nuget restore

      - name: Build
        run: dotnet build -c Release

      - name: Publish
        run: dotnet publish -c Release

      - name: Publish to GitHub Packages
        shell: pwsh
        run: |
          $source = "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json"
          Get-ChildItem -Path . -Recurse -Filter '*.nupkg' | ForEach-Object {
            Write-Host "Pushing $($_.FullName)"
            dotnet nuget push $($_.FullName) --source $source --api-key "${{ secrets.GITHUB_TOKEN }}" --skip-duplicate
          }
