name: Pull-Request

on: pull_request

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: '0'

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore packages
        run: nuget restore

      - name: Build
        run: dotnet build -c Release

      - name: Mutation testing
        run: |
          dotnet tool restore
          dotnet stryker --since:main
          
      - name: Upload Stryker Report
        uses: actions/upload-artifact@v4
        with:
          name: stryker-report
          path: StrykerOutput
